body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
    align-items: center;
}

header {
    color: white;
    background-color: #45a049;
    height: 100px;
    
    text-align: center;
    
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    margin-top: 5px;
    color: white;
    font-size: 75px;
}

footer{
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.container{
}

.title{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 0px;
}

h2{
    background-color:  #2fa2d8;
    text-align: center;
    font-size: 45px;
    color: white;
    border-radius: 20px;
    padding-left: 5px;
}

.buttons-table #del, #edit{
    margin-left: 5px;
    padding: 5px;
    color: white;
    background-color: #45a049;
    border-radius: 5px;
    font-weight: bold;
}


th ,td{
    border: 1px solid;
    font-size: 15px;    
    padding: 5px;
}

td:nth-child(7){
    background-color: #ffffff;
    width: 150px;
}

.table-div{
    
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adicionando a sombra */
    background-color: #ffffff;
    border-radius: 55px;
    padding: 50px;
    width: 75%;
    margin-left: 10%;
}

.form {
    align-items: center;
    text-align: center;
    width: 650px;
    margin-top: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    
    
}

.form h1 {
    
    margin-top: 0px;
    margin-bottom: 10px;
}

.form label {
    padding-left: 150px;
    display: flex;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="tel"] {
    width: calc(100% - 300px);
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
}

.form input[type="number"] {
    width: calc(100% - 300px);
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
}

.form input[type="submit"] {
    font-weight: bold;
    margin-top: 5px;
    width: calc(100% - 300px);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #45a049;
}

.form{
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    
}


.tables {
    text-align: center;
    border-collapse: collapse ;
    border-color: black;
    width: 70%;

    margin-left: 50px;
}



/*--------------------------------------------------------------*/


.title-page{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-left: 36%;
    margin-bottom: 0px;
}

.button-home {
    margin-top: 5px;
    position: absolute;
    left: 50%;

    align-items: center;
    text-align: center;
}

.form-page {
    align-items: center;
    text-align: center;
    width: 650px;
    height: 470px;
    margin-top: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adicionando a sombra */
    background-color: #ffffff;
    margin-left: 33%;
    
}

.form-page h1 {
    
    margin-top: 0px;
    margin-bottom: 10px;
}

.form-page label {
    margin-top: 10px;
    margin-left: 23%;
    display: flex;
    margin-bottom: 5px;
}

.form-page input[type="text"],
.form-page input[type="tel"] {
    width: calc(100% - 300px);
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    
}

.form-page input[type="number"] {
    width: calc(100% - 300px);
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    
}

.form-page input[type="submit"] {
    font-weight: bold;
    margin-top: 5px;
    width: calc(100% - 300px);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    
    cursor: pointer;
}

.form-page input[type="submit"]:hover {
    background-color: #45a049;
}





