<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Cadastro de Clientes</h1>

   <form method="POST" action="{{url_for('cadCliente')}}">

        <label for="Nome" name="nomeCliente">Nome:</label>
        <input type="text" name="nomeCliente">

        <label for="Email" name="emailCliente">Email:</label>
        <input type="text" name="emailCliente">

        <label for="Data Nasc" name="dataCliente">Data Nascimento:</label>
        <input type="text" name="dataCliente">

        <label for="Cidade" name="cidadeCliente">Cidade:</label>
        <input type="text" name="cidadeCliente">

        <label for="Nome" name="telCliente">Telefone:</label>
        <input type="tel" name="telCliente">


        <input type="submit" value="Adicionar">
    </form>

    <a class="button" href="{{url_for('home') }}">Home</a>
   

</body>
</html>