<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Venda</title>
</head>
<body>

    <h1>Cadastro de Vendas</h1>

    <form method="post" action="{{url_for('cadVenda')}}">

        <label for="Data" name="dataVenda">Data Venda:</label>
        <input type="text" name="dataVenda">

        <label for="valor" name="valor">Valor Total:</label>
        <input type="number" name="valor">

        <label for="idCliente" name="idCliente">ID Cliente:</label>
        <input type="number" name="idCliente">

        <label for="idProduto" name="idProd">ID Produto:</label>
        <input type="number" name="idProd">

        <label for="Funcionario" name="nomeFunc">Funcionário:</label>
        <input type="text" name="nomeFunc">

        <input type="submit" value="CADASTRAR">

        <a href="{{url_for('home')}}">Home</a>
</body>
</html>